@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

// Fonts
$font-primary: "Outfit", sans-serif;

// Colors
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$very-dark-blue: hsl(217, 54%, 11%); // main bg
$very-dark-blue-2: hsl(216, 50%, 16%); // card bg
$very-dark-blue-3: hsl(215, 32%, 27%); // line
$white: hsl(0, 0%, 100%);
